# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python



# ROS2 colcon build artifacts
build/
install/
log/

# Virtual environment
venv/
env/
ENV/
.venv/

# Mypy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Ruff cache
.ruff_cache/

# Distribution / build
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs
.idea/

*.swp

# MacOS system files
.DS_Store

# Coverage reports
htmlcov/
.coverage

# Temporary files
*.tmp
*.bak